.banner {
    background-image: url(../../assets/images/banner.jpg);
    background-repeat: no-repeat;
    background-position: 45% 18%;
    background-size: cover;
    height: 200px;
    margin-top: 120px;
}
.content {
    padding-top: 30px;
    padding-left: 50px;

}

.content button {
    background-color: #010F42;
    font-size: 14px;
    width: 115px;
    height: 30px;
    border-radius: 19px;
    align-items: center;
    justify-content: center;
    color: #fff;
}